body {
	font-family:helvetica;
}

h1 {font-size:21px;
	margin-bottom:5px;
}

h2 {
	font-size:12px;
	color:gray;
	margin-bottom:5px;
}

article {
	margin-left:5%;
	margin-right:5%;;
	width:40%;
	float:left;
}

img {
	width:300px;
	height:300px;
	margin:0px 20px 10px 0px;
	float:left;
}
